* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background-image: url("assets/fondo-31.jpg");
  background-repeat: repeat;
  background-size: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  color: white;
}

.logo {
  width: 70px;
  margin-bottom: 5px;
}

.cap {
  width: 260px;
  display: block;
  margin: 10px auto 25px;
}

h1 {
  font-size: 26px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.scan {
  font-size: 18px;
  letter-spacing: 3px;
}
